<h2>
    Contact View
</h2>
<a class="btn btn-default" href="#/contact/form/">
    <span class="glyphicon glyphicon-plus"></span> New Contact
</a>
<table class="table table-hover table-bordered" ng-init="viewInit()">
    <thead>
        <tr class="bg-info">
            <th>
                Name
            </th>
            <th>
                Operation
            </th>
        </tr>
    </thead>
    <tbody ng-repeat="contact in contacts">
        <tr id="{{contact.contactid}}">
            <td>
                {{contact.fullname}}
            </td>
            <td>
                <a class="btn btn-default" href="#/contact/form/{{contact.contactid}}">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </a>
                <a class="btn btn-default" data-toggle="modal" data-target="#deleteModal">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </a>
            </td>
        </tr>
        
    </tbody>
</table>

<!------------------------ Begin: DELETE POPUP ------------------------>
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm delete record</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete ?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal" ng-click="deleteRecord()">Yes</a>
                <a class="btn btn-default" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('#deleteModal').on('show.bs.modal', function (e) {
        //var yourParameter = e.relatedTarget.dataset.yourParameter;
        var target = $(e.relatedTarget);
        var recordId = target.closest('tr')[0].id;
        $('#deleteModal').attr("recordId", recordId);
    });
</script>
<!------------------------ End: DELETE POPUP ------------------------>

<!-- Modal NOTIFICATION -->
<div id="modalNotification" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="glyphicon glyphicon-info-sign modal-title">&nbsp;Notification</h4>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
